html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

header {
  grid-column: 0;
  grid-row: 1;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

main > h1 {
  margin-bottom: 2rem;
  text-align: left;
}
span {
  font-weight: bold;
}

h1 {
  text-align: center;
}

.form_login {
  width: 50%;
  margin: 0 auto;
}

.form_login input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form_login button {
  width: 100%;
  background-color: #6a9c89;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

nav {
  background-color: #6a9c89;
  padding: 1rem;
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.form_logout button {
  background-color: #cd5c08;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
}

nav > div > h1 {
  font-size: 1.2rem;
  color: white;
}

nav > div > img {
  cursor: pointer;
}

tr {
  padding: 0.5rem;
  background-color: #fff9f3;
  color: rgb(0, 0, 0);
}

td {
  padding: 0.5rem;
}

th {
  padding: 0.5rem;
  color: #cd5c08;
}

td button {
  background-color: #cd5c08;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  margin: 0 0.5rem;
}

table {
  max-width: 100%;
  table-layout: fixed;
}

.table_container {
  overflow-y: scroll;
  max-height: 40rem;
  max-width: 95%;
  margin: 0 auto;
  overflow-wrap: anywhere; /*Permet de casser les mots */
}

table thead tr th {
  position: sticky;
  top: 0;
  background-color: #6a9c89;
  color: white;
}

.modal-form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 0.5rem;
}

.modal-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-form_trees {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.modal-form_trees > label {
  grid-column: 1 / 4;
}

.trees-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0.5rem;
}

.tree-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #6a9c89;
  cursor: pointer;
}

/* .hidden {
  display: none;
} */
