h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form_login {
  width: 50%;
  margin: 0 auto;
}

.form_login input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form_login button {
  width: 100%;
  background-color: #6a9c89;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

nav {
  background-color: #6a9c89;
  padding: 1rem;
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.form_logout button {
  background-color: #cd5c08;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
}

nav > div > h1 {
  font-size: 1.2rem;
  color: white;
}

nav > div > img {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

header {
  grid-column: 0;
  grid-row: 1;
}
main {
  grid-column: span 2;
  grid-row: 1;
  padding-left: 3rem;
  margin-top: 3rem;
}

main > h1 {
  margin-bottom: 2rem;
}
span {
  font-weight: bold;
}

tr {
  background-color: #fff9f3;
  color: rgb(0, 0, 0);
}

td {
  padding: 0.5rem;
}

th {
  padding: 0.5rem;
  color: #cd5c08;
}

td button {
  background-color: #cd5c08;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  margin: 0 0.5rem;
}
