<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>

    <main>
      <h1>Bienvenue sur le BackOffice Greenroots </h1>

      <section>
        <h2>Fonctionalités principales</h2>
        <ul>
          <li><span>Gestion des utilisateurs : </span>Gérez les utilisateurs, informations personnelles ainsi que les
            accès </li>
          <li><span>Gestion des campagnes:</span> Créez, modifiez ou supprimez des campagnes et les arbres associés
          </li>
          <li><span>Gestion des arbres:</span> Ajoutez, modifiez ou supprimer des arbres au seins d'une campagne</li>
          <li><span>Gestion des commandes:</span> Modifiez ou supprimez des commandes complètes ou lignes de commandes
          </li>
          <li><span>Gestion des avis utilisateurs</span>Moderez les avis utilisateurs</li>
        </ul>
      </section>


    </main>


    <%- include('./partials/footer.ejs') %>