<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>

    <!-- 
    <h1>Bienvenue </h1> -->

    <!-- <form action="" method="post" class="form_login">
      <button type="submit">Se déconnecter</button>
    </form> -->

    <!-- <script src="/js/script.js"></script> -->

    <%- include('./partials/footer.ejs') %>