<div id="deleteReviewModal" class=" delete_modal modal hidden">
  <div class="modal-content">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer l'avis?</p>
    <div>
      <button id="confirmDeleteButton" class="delete button">Supprimer</button>
      <button onclick="hideDeleteReviewModal()" class="cancel button">Annuler</button>
    </div>
  </div>
</div>