<div id="deleteCampaignModal" class="modal hidden delete_modal">
  <div class="modal-content">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer la campagne "<span id="deleteCampaignName"></span>" ?</p>
    <div class="button-container">
      <button id="confirmDeleteButton" class="delete button">Supprimer</button>
      <button id="cancelDeleteButton" class="cancel button">Annuler</button>
    </div>
  </div>
</div>