<div id="deleteUserModal-<%= user.id %>" class=" delete_modal modal hidden">
  <div class="modal-content">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur?</p>
    <div>
      <button id="confirmDeleteButton-<%= user.id %>" class="delete button" data-action="deleteUser"
        data-user-id="<%= user.id %>">Supprimer</button>
      <button class="cancel button" data-action="hideDeleteUserModal" data-user-id="<%= user.id %>">Annuler</button>

    </div>
  </div>
</div>