<div id="editReviewModal" class="modal hidden edit-review-modal">
  <div class="modal-content">
    <h2>Modifier l'avis</h2>

    <form id="editReviewForm" onsubmit="editReview(event)" class="modal-form">
      <input type="hidden" id="editReviewId" name="id">
      <div>
        <label for="editReviewContent">Avis :</label>
        <input type="text" id="editReviewContent" name="content" required>
      </div>
      <div>
        <label for="editReviewRating">Note</label>
        <input type="number" id="editReviewRating" name="rating">
      </div>
      <div>
        <label for="editReviewFirstname">Prénom</label>
        <input type="text" id="editReviewFirstname" name="firstname">
      </div>
      <div>
        <label for="editReviewLastname">Nom</label>
        <input type="text" id="editReviewLastname" name="lastname">
      </div>
      <div>
        <label for="editReviewEmail">Email</label>
        <input type="email" id="editReviewEmail" name="email">
      </div>
      <div class="edit_modal_button">
        <button class="save" type="submit">Enregistrer les modifications</button>
        <button onclick="hideEditReviewModal()" class="cancel" type="button">Annuler</button>
      </div>
    </form>
  </div>
</div>