<div id="deleteCampaignModal" class="modal hidden">
  <div class="modal-content">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer la campagne "<span id="deleteCampaignName"></span>" ?</p>
    <button id="confirmDeleteButton" class="delete-button">Supprimer</button>
    <button onclick="hideDeleteCampaignModal()" class="cancel-button">Annuler</button>
  </div>
</div>