<div id="editTreeModal" class="modal hidden">
  <div class="modal-content">
    <h2>Modifier l'Arbre</h2>

    <form id="editTreeForm" onsubmit="editTree(event)">
      <input type="hidden" id="editTreeId" name="id">
      <div>
        <label for="editTreeName">Nom :</label>
        <input type="text" id="editTreeName" name="name">
      </div>
      <div>
        <label for="editTreePriceHt">Prix HT :</label>
        <input type="number" id="editTreePriceHt" name="price_ht">
      </div>
      <div>
        <label for="editTreeQuantity">Quantité :</label>
        <input type="number" id="editTreeQuantity" name="quantity">
      </div>
      <div>
        <label for="editTreeAge">Age (années) :</label>
        <input type="number" id="editTreeAge" name="age">
      </div>
      <div>
        <label for="editTreeSpecies">Espèce :</label>
        <input type="text" id="editTreeSpecies" name="species_name">
      </div>
      <div>
        <label for="editTreeDescription">Description :</label>
        <textarea id="editTreeDescription" name="description"></textarea>
      </div>
      <div>
        <label for="editTreeCo2Absorption">Absorption de CO2 :</label>
        <input type="number" id="editTreeCo2Absorption" name="co2_absorption">
      </div>
      <div>
        <label for="editTreeAverageLifespan">Durée de vie moyenne :</label>
        <input type="number" id="editTreeAverageLifespan" name="average_lifespan">
      </div>

      <div class="edit_modal_button">
        <button class="save" type="submit">Enregistrer les modifications</button>
        <button class="cancel" type="button">Annuler</button>
      </div>
    </form>
  </div>
</div>