<nav>
  <div>
    <img src="/img/Logo_principal.webp" alt="">
    <h1> Bienvenue SUPERGREEN ADMIN</h1>

  </div>
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/">Utilisateurs</a></li>
    <li><a href="/">Campagnes</a></li>
    <li><a href="/">Arbres</a></li>
    <li><a href="/">Commandes</a></li>
  </ul>

  <form action="" method="post" class="form_logout">
    <button type="submit">Déconnexion</button>
  </form>

</nav>