<nav>
  <div>
    <a href="/admin/home">

      <img src="/img/Logo_principal.webp" alt="logo Greenroots">
    </a>
  </div>
  <ul>
    <li><a href="/admin/home">Dashboard</a></li>
    <li><a href="/admin/users">Utilisateurs</a></li>
    <li><a href="/admin/campaigns">Campagnes</a></li>
    <li><a href="/admin/trees">Arbres</a></li>
    <li><a href="/admin/orders">Commandes</a></li>
    <li><a href="/admin/reviews">Avis d'utilisateurs</a></li>
  </ul>

  <form action="" method="post" class="form_logout">
    <button type="submit">Déconnexion</button>
  </form>

</nav>