<nav>
  <div>
    <img src="/img/Logo_principal.webp" alt="">
    <h1> Bienvenue SUPERGREEN ADMIN</h1>

  </div>
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/users">Utilisateurs</a></li>
    <li><a href="/campaigns">Campagnes</a></li>
    <li><a href="/trees">Arbres</a></li>
    <li><a href="/orders">Commandes</a></li>
  </ul>

  <form action="" method="post" class="form_logout">
    <button type="submit">Déconnexion</button>
  </form>

</nav>